.colorpicker-field_type {

    .swatch {
        -webkit-border-radius: .1rem;
        -moz-border-radius: .1rem;
        border-radius: .1rem;

        border: 1px solid rgba(0, 0, 0, 0.15);
        -webkit-appearance: none;
        margin-right: .4rem;
        overflow: hidden;
        cursor: pointer;
        height: 2.4rem;
        width: 2.4rem;
        padding: 0;

    }
}
